{{>_navbar}}
<div class="col-sm-9 col-md-9 col-lg-5 mx-auto mt-3">
  <h1>Ações Concluídas</h1>

  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Postagem</h2>
      8 de junho às 13:37<br />
      <div class = "mt-4">
        Alguém com disponibilidade para ir à farmácia?
      </div>
    </div>
    <div class = "card-body ">
      <div class = "card p-3">
          <h3>Usuário Responsável: Rosângela Almeida</h3>
          <h3>Término: 11/02/2020, 18:30</h3>
          <h3>Nota Atribuída: 9/10</h3>
      </div>
    </div>

  </div>

  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Postagem</h2>
      8 de junho às 13:37<br />
      <div class = "mt-4">
        Alguém com disponibilidade para trazer compras do supermercado neste final de semana?
    </div>
    <div class = "card-body ">
      <div class = "card p-3">
          <h3>Usuário Responsável: Roberto Almeida</h3>
          <h3>Término: 11/02/2020, 18:30</h3>
          <h3>Nota Atribuída: 10/10</h3>
      </div>
    </div>

  </div>
</div>


  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Postagem</h2>
      8 de junho às 13:37<br />
      <div class = "mt-4">
        Alguém com disponibilidade para passear com cachorro?
      </div>
    </div>
    <div class = "card-body ">
      <div class = "card p-3">
          <h3>Usuário Responsável: Lauro Vieira </h3>
          <h3>Término: 11/02/2020, 18:30</h3>
          <h3>Nota Atribuída: 9/10</h3>
      </div>
    </div>

  </div>



</div>
