{{>_navbar}}
<div class="col-sm-9 col-md-9 col-lg-5 mx-auto mt-3">
  <h1>Ações Sinalizadas</h1>

  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Postagem</h2>
      8 de junho às 13:37<br />
      <div class = "mt-4">
        REST defines a set of conventions to create HTTP services. The basic four methods can create CRUD (Create, Read, Update, Delete)
        • POST: Create a resource
        • GET: Read a resource
        • PUT: Update a resource
        • DELETE: Delete a resource
        In frontend side, you could do CRUD with form input as an example. The following is an example with POST. This case is pretty simple to run POST method only with HTML from front-end side.
      </div>
    </div>
    <div class = "card-body">
      <h2>Usuários Sinalizadores</h2>
      <div class = "d-flex flex-row card">
        <div class="mr-auto">
          <h2>Fulaninho de Tal, Nota:9</h2>
        </div>
          <button type="button" class="btn btn-success ">Aceitar</button>
          <button type="button" class="btn btn-danger ">Rejeitar</button>
      </div>
      <div class = "d-flex flex-row card mt-1">
        <div class="mr-auto">
          <h2>Fulaninho de Tal, Nota:9</h2>
        </div>
        <button type="button" class="btn btn-success ">Aceitar</button>
        <button type="button" class="btn btn-danger ">Rejeitar</button>
      </div>

      <div class = "d-flex flex-row card mt-1">
        <div class="mr-auto">
          <h2>Fulaninho de Tal, Nota:9</h2>
        </div>
        <button type="button" class="btn btn-success ">Aceitar</button>
        <button type="button" class="btn btn-danger ">Rejeitar</button>
      </div>
    </div>
  </div>


  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Postagem</h2>
      8 de junho às 13:37<br />
      <div class = "mt-4">
        REST defines a set of conventions to create HTTP services. The basic four methods can create CRUD (Create, Read, Update, Delete)
        • POST: Create a resource
        • GET: Read a resource
        • PUT: Update a resource
        • DELETE: Delete a resource
        In frontend side, you could do CRUD with form input as an example. The following is an example with POST. This case is pretty simple to run POST method only with HTML from front-end side.
      </div>
    </div>
    <div class = "card-body">
      <h2>Usuários Sinalizadores</h2>
      <div class = "d-flex flex-row card">
        <div class="mr-auto p-2">
          <h2>Fulaninho de Tal, Nota:9</h2>
        </div>
          <button type="button" class="btn btn-success ">Aceitar</button>
          <button type="button" class="btn btn-danger ">Rejeitar</button>
      </div>
      <div class = "d-flex flex-row card">
        <div class="mr-auto p-2">
          <h2>Fulaninho de Tal, Nota:9</h2>
        </div>
          <button type="button" class="btn btn-success ">Aceitar</button>
          <button type="button" class="btn btn-danger ">Rejeitar</button>
      </div>

      <div class = "d-flex flex-row card">
        <div class="mr-auto p-2">
          <h2>Fulaninho de Tal, Nota:9</h2>
        </div>
          <button type="button" class="btn btn-success ">Aceitar</button>
          <button type="button" class="btn btn-danger ">Rejeitar</button>
      </div>
    </div>
  </div>



</div>
