{{>_navbar}}
<div class="col-sm-9 col-md-9 col-lg-5 mx-auto mt-3">
<!-- <div class = "container mt-4"> -->
<!-- {{#if grupos}}
  {{#each grupos}}
    <div class = "card mt-4">
      <div class = "card-body">
        <h2>Grupo {{this.dataValues.grupoNome}}</h2>
        <h5>Número de Integrantes: 12 </h5>
        <h5>Descrição: </h5>
      </div>
    </div>
    {{else}}

  {{/each}}

  {{else}}

    <h2>
      Você ainda não possui nenhum grupo
    </h2>


{{/if}} -->

<!-- {{grupos}} -->


  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Edifício Copan</h2>
      <h5>Número de Integrantes: 20</h5>
      <h5>Descrição: Grupo destinado aos moradosres do Edifício Copan</h5>
    </div>
  </div>


  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Família Pereira</h2>
      <h5>Número de Integrantes: 8</h5>
      <h5>Descrição: Família Pereira</h5>
    </div>
  </div>


  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Voluntários de São José dos Campos</h2>
      <h5>Número de Integrantes: 100</h5>
      <h5>Descrição: Grupo destinado a pessoas necessitadas e voluntários de São José dos Campos</h5>
    </div>
  </div>

  <div class = "col mt-4">
      <div class = "row">
        <button class="btn btn-primary" type="submit">Criar Novo Grupo</button>
      </div>
      <div class = "row mt-2">
        <form class="form-inline my-2 my-lg-0">
          <select class="form-control" id="exampleFormControlSelect1" style="text-align:center">
            <option selected disabled hidden>SP</option>
            <option>Voluntário</option>
            <option>Grupo De Risco</option>
          </select>

          <select class="form-control" id="exampleFormControlSelect1" style="text-align:center">
            <option selected disabled hidden>São Paulo</option>
            <option>Voluntário</option>
            <option>Grupo De Risco</option>
          </select>

          <select class="form-control" id="exampleFormControlSelect1" style="text-align:center">
            <option selected disabled hidden>Faria Lima</option>
            <option>Voluntário</option>
            <option>Grupo De Risco</option>
          </select>
          <input class="form-control w-100" type="search" placeholder="Nome do Grupo" aria-label="Search">

            <button class="btn btn-outline-success w-25 d-flex row-reverse">Buscar Grupo</button>

        </form>
      </div>



  </div>

    <h2 class = "mt-4"><b>Grupos Encontrados</b></h2>


  <div class = "card mt-4">
    <div class = "card-body">
      <h2>Edifício Atlântida</h2>
      <h5>Número de Integrantes: 30</h5>
      <h5>Descrição: Grupo destinado aos moradores do Edifício Atlântida</h5>
    </div>
    <div class="d-flex flex-row-reverse">
      <button class="btn btn-primary p-2" data-toggle="modal" data-target="#exampleModalLong">Enviar Solicitação</button>
    </div>
  </div>


</div>
