<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Log in</h5>
          <form id="login" name="login" method="post" action="login">
            <div class="form-label-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" required autofocus><br />
            </div>
            <div class="form-label-group">
              <label for="password">Senha</label>
              <input type="password" class="form-control" name="password" required><br />
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Sign In">Login</button>
            <br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
