  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Registrar</h5>
            <form id="register" name="register" method="post" action="/register">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstname">Nome</label>
                  <input type="text" class="form-control" name="firstname" required autofocus>
                </div>
                <div class="form-group col-md-6">
                  <label for="lastname">Sobrenome</label>
                  <input type="text" class="form-control" name="lastname" required autofocus>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" required autofocus>
              </div>
              <!-- <div class="form-group">
                <label for="email">Categoria (Voluntário/Grupo de Risco)</label>
                <select class="form-control" id="exampleFormControlSelect1" style="text-align:center">
                  <option selected disabled hidden>Tipo</option>
                  <option>Voluntário</option>
                  <option>Grupo De Risco</option>
                </select>
              </div> -->
              <div class="form-group">
                <label for="email">Número</label>
                <input type="email" class="form-control" name="email" placeholder="(00)000000000" required autofocus>
              </div>
              <div class="form-group">
                <label for="password">Senha </label>
                <input type="password" class="form-control" name="password" required>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Sign Up">Registrar</button>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
