
{{>_navbar}}
<div class="col-sm-9 col-md-9 col-lg-5 mx-auto mt-3">
  <div class = "card">
    <div class = "card-body">
      <h2>Grupo Teste</h2>
      <h5>Número de Integrantes: Teste</h5>
      <h5>Descrição: Teste</h5>
    </div>
  </div>

</div>
